/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);

  @include clearfix();
  margin-bottom: 1em;

  @media (orientation: portrait) {
    margin-top: 1em;
  }

  @media screen and (min-width: $sidebar-screen-min-width) {
    height: 100vh;
    overflow-y: auto;               // Add scrollbar if the sidebar is too long
    position: fixed;
    padding-top: $masthead-height;
  }

  @include breakpoint($large) {
    @include span(2 of 12);
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  @include breakpoint($x-large) {
    max-width: $sidebar-link-max-width;
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}


/*
   Table of contents
   ========================================================================== */

.toc {
  background-color: var(--global-toc-bg-color);
  border: 1px solid var(--global-border-color);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 1em;

  .nav__title {
    color: var(--global-text-color);
    font-size: $type-size-6;
    background: transparent;
    border: 0;
    padding: 0;
  }

  .toc__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: $type-size-6;

    a {
      display: block;
      padding: 0.25rem 0;
      color: var(--global-text-color);
      font-size: $type-size-7;
      font-weight: normal;
      line-height: 1.5;
      border-bottom: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    > li > a {
      font-weight: bold;
    }

    li ul > li a {
      padding-left: 1rem;
      font-weight: normal;
    }

    li ul li ul > li a {
      padding-left: 2rem;
    }

    li ul li ul li ul > li a {
      padding-left: 3rem;
    }
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 648px;
  // set width only, for non-square avatars
  // height: 36px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 175px;
    border-radius: 50%;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid var(--global-border-color);
    }
  }
}

.author__avatar {
  display: block;       /* Stack vertically on mobile */
  width: auto;          /* Allow full width container */
  text-align: center;   /* Center the image */
  margin-bottom: 10px;  /* Add space below image */

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
    text-align: left;   /* Optional: Return to left align on desktop if desired */
  }

  img {
    max-width: 175px;
    border-radius: 50%;
    display: inline-block; /* Ensure it respects text-align center */

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid var(--global-border-color);
      display: block;      /* Return to block on desktop */
      margin: 0 auto 10px; /* Center on desktop sidebar */
    }
  }
}

.author__content {
  display: block;       /* Stack vertically on mobile */
  width: 100%;          /* Full width */
  text-align: center;   /* Center the name and bio text */
  padding-left: 0;      /* Remove side padding used for table layout */
  padding-right: 0;
  line-height: 1;
  margin-bottom: 20px;  /* Space before the links box */

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: left;   /* Return to left align on desktop */
  }
}
.sidebar .author__name {
  font-family: $sans-serif;
  font-size: $type-size-5;
}

.sidebar .author__desktop {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.author__pronouns {
  margin: 0;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.author__bio {
  margin: 0;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.author__urls-wrapper {
  position: relative;
  display: block; /* Changed from table-cell to block to stack below bio */
  font-family: $sans-serif;
  z-index: 10;
  position: relative;
  /* cursor: pointer; Removed pointer since it's no longer a button */

  li:last-child {
    a {
      margin-bottom: 0;
    }
  }

  @include breakpoint($large) {
    display: block;
  }

  /* Button styles removed as button is deleted */
}

.author__urls {
  display: block; /* Always display the links */
  position: relative; /* Normal flow, not absolute */
  margin-top: 15px;
  padding: 10px;
  list-style-type: none;
  border: 1px solid var(--global-border-color);
  border-radius: $border-radius;
  background: var(--global-bg-color);
  /* z-index: -1; Removed */
  box-shadow: 0 0 10px rgba(#000, 0.25);
  cursor: default;

  @include breakpoint($large) {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
  }

  /* Hide the triangle pointers that pointed to the button */
  &:before {
    display: none; 
  }

  &:after {
    display: none;
  }

  li {
    white-space: nowrap;
  }

  a {
    display: block;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: $type-size-5;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
